[build]
  publish = "client/dist"
  command = "npm run build"

[dev]
  command = "npm run dev"
  port = 3999         # porta dove Netlify espone il sito
  targetPort = 5173   # porta di Vite
  framework = "vite"

[functions]
  directory = "netlify/functions"
  node_bundler = "esbuild"